.icc {
    list-style-type: none;
}

.icc li {
    display: inline-block;
}

input[type="checkbox"][id^="myCheckbox"] {
    display: none;
}

label {
    border: 1px solid #fff;
    padding: 10px 10px 0px 10px;
    display: block;
    position: relative;
    margin: 10px 10px 5px 10px;
    cursor: pointer;
    text-align: center;
}

label:before {
    background-color: white;
    color: white;
    content: " ";
    display: block;
    border-radius: 50%;
    border: 1px solid grey;
    position: absolute;
    top: -5px;
    right: -5px;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 28px;
    transition-duration: 0.4s;
    transform: scale(0);
}

label img {
    height: auto;
    width: 150px;
    transition-duration: 0.2s;
    transform-origin: 50% 50%;
    border-radius: 5px;
}

:checked+label {
    border-color: #567df4;
    border-radius: 5px;
    border: 2px solid #567df4;
}

:checked+label:before {
    content: "✓";
    background-color: #567df4;
    transform: scale(1);
}

:checked+label img {
    transform: scale(0.9);
    /* box-shadow: 0 0 5px #333; */
    z-index: -1;
}